body {
  font-size: 14px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
}

h2 {
  font-size: 30px;
  line-height: 42px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: none;
  font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: none;
  font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
}

b {
  font-size: 30px;
  line-height: 42px;
  color: rgb (247, 244, 241);
  font-weight: bold;
  text-transform: none;
  font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
}

.main-header {
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
}

.features-description {
    font-size: 14px;
    line-height: 24px;
    color: rgb(247, 244, 241);
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
  }

.articles {
  font-size: 14px;
  line-height: 18px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
}

  .articles-type {
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: none;
    font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
  }

  .breadcrumbs{
    font-size: 14x;
    line-height: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
  }

  .search-from .search-choice {
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
  }

  .btn {
      font-size: 14px;
      line-height: 24px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
      font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
    }

  .btn-show {
    font-size: 13px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
  }

  .btn-buy {
    font-size: 14px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
  }

  .price-brand{
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
  }

  .model {
    font-size: 14px;
    line-height: 24px;
    color: rgb(174, 174, 174);
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
  }

  .pages {
    font-size: 14px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
  }

.main-footer {
    font-size: 14px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans Narrow" "DIN Pro" sans-serif;
}
